parameters:
	ignoreErrors:
		-
			message: '#^Trait Altair\\Cache\\Traits\\TagsAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Cache/Traits/TagsAwareTrait.php

		-
			message: '#^Class Altair\\Cookie\\Collection\\CookieCollection extends generic class Altair\\Structure\\Map but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Altair/Cookie/Collection/CookieCollection.php

		-
			message: '#^Class Altair\\Cookie\\Collection\\SetCookieCollection extends generic class Altair\\Structure\\Map but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Altair/Cookie/Collection/SetCookieCollection.php

		-
			message: '#^Trait Altair\\Courier\\Traits\\LogMessageTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Courier/Traits/LogMessageTrait.php

		-
			message: '#^Trait Altair\\Data\\Traits\\AttributesAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Data/Traits/AttributesAwareTrait.php

		-
			message: '#^Trait Altair\\Data\\Traits\\DateAttributeMutatorAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Data/Traits/DateAttributeMutatorAwareTrait.php

		-
			message: '#^Trait Altair\\Data\\Traits\\ImmutableAttributesAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Data/Traits/ImmutableAttributesAwareTrait.php

		-
			message: '#^Trait Altair\\Data\\Traits\\JsonSerializableAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Data/Traits/JsonSerializableAwareTrait.php

		-
			message: '#^Trait Altair\\Data\\Traits\\SerializeAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Data/Traits/SerializeAwareTrait.php

		-
			message: '#^Trait Altair\\Happen\\Traits\\EventStackAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Altair/Happen/Traits/EventStackAwareTrait.php

		-
			message: '#^Unable to resolve the template type TEntity in call to method Cycle\\ORM\\ORMInterface\:\:getRepository\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Altair/Persistence/Cycle/CycleRepository.php
