<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache" executionOrder="depends,defects" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="false" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" displayDetailsOnIncompleteTests="true" displayDetailsOnSkippedTests="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="Univeros Test Suite">
      <directory suffix="Test.php">./tests</directory>
      <exclude>./tests/Http/Middleware/AbstractMiddlewareTest.php</exclude>
      <exclude>./tests/Sanitation/Filter/AbstractFilterTest.php</exclude>
      <exclude>./tests/Structure/AbstractCollectionTest.php</exclude>
      <exclude>./tests/Validation/Rule/AbstractRuleTest.php</exclude>
      <exclude>./tests/TestReporter/Fixtures/ExampleHttpCacheTest.php</exclude>
      <exclude>./tests/TestReporter/Fixtures/ExampleNoCoversTest.php</exclude>
      <exclude>./tests/TestReporter/Fixtures/LegacyCoversAnnotationTest.php</exclude>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <!--
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        -->
  </php>
</phpunit>
